// Basic project definitions

*,
*::after,
*::before
  box-sizing: inherit
  margin: 0
  padding: 0

html
  font-size: 62.5%

body
  box-sizing: border-box
  background-color: #F9FAFB
  width: 100vw
  overflow-x: hidden
  overflow-y: auto
  font-family: 'Poppins', sans-serif

  counter-reset: section

  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.wrapper
  max-width: 120rem
  margin: 0 auto
