// Basic project definitions

*,
*::after,
*::before
  box-sizing: inherit
  margin: 0
  padding: 0

html
  font-size: 62.5%
  font-family: 'Poppins', sans-serif

body
  box-sizing: border-box
  background-color: #F9FAFB
  width: 100vw
  overflow: hidden

.wrapper
  max-width: 120rem
  margin: 0 auto