.button
  z-index: 1001

  display: flex
  justify-content: center
  align-items: center

  text-decoration: none
  color: #1c2260

  height: 6rem
  padding: 0 3rem
  border: 0.2rem solid #1c2260
  border-radius: .75rem

  font-size: 1.4rem
  transition: all .3s

  &--see-live
    background-color: lighten(#B3BCF5, 13%)

    &:hover
      color: lighten(#B3BCF5, 13%) !important
      border: 0.2rem solid lighten(#B3BCF5, 13%)
      background-color: #1c2260
      transform: translateY(-.4rem)

  &--resume
    margin-left: 2rem

    @media (max-width: 48.0625em)
      flex-basis: 90%
      margin-top: 3rem
      margin-left: 0

    &:hover
      background-color: lighten(#B3BCF5, 13%)
      transform: translateY(-.4rem)

  &:visited, &:focus, &:active
    text-decoration: none
    color: #1c2260