header
  position: relative
  height: 10rem
  padding: 2.5rem

  .header-blob
    position: absolute
    opacity: 1
    top: -40rem
    right: -12rem

  ul
    display: flex
    justify-content: flex-end

    list-style: none

  li
    z-index: 9999

    padding: 1rem
    font-size: 1.5rem

  .header-navbar
    &-order
      margin-right: 1rem
      color: #C4CDD5
    &-link, a:visited, a:active
      text-decoration: none
      color: #F9FAFB