#introduction-section
  display: flex
  flex-direction: column
  align-items: flex-start
  width: 100%

  h1
    font-size: 1.6rem
    margin-bottom: 2rem
  h2
    color: #1c2260
    font-size: 6rem
    line-height: 1.2

  h3
    font-size: 6rem
    line-height: 1.2

  p
    margin: 5rem 0
    font-size: 1.6rem
    max-width: 45%

  .introdcution-buttons-list
    display: flex
    align-items: center

  .social-link
    border-radius: .5rem
    margin-right: 1rem
    padding: 1.2rem

    height: 6rem
    width: 6rem

    &:hover
      background-color: lighten(#B3BCF5, 12%)

    &--linkedin
      &:hover
        svg
          fill: #2867B2 !important
    &--github
      &:hover
        svg
          fill: #211F1F !important
    &--gmail
      &:hover
        svg
          fill: #D44638 !important

    svg
      transition: fill .15s
      fill: #212B36
      display: block
      margin: 0 auto
      height: 3rem
      width: 3rem