#introduction-section
  display: flex
  flex-direction: column
  margin-bottom: 5rem

  @media (max-width: 48.0625em)
    margin: 10rem 0
    padding: 0 3rem

  h1
    font-size: 1.6rem
    margin-bottom: 2rem
  h2
    color: #1c2260
    font-size: 6rem
    line-height: 1.2

  h3
    font-size: 6rem
    line-height: 1.2

  p
    margin: 5rem 0
    font-size: 1.6rem
    max-width: 45%
    @media (max-width: 48.0625em)
      max-width: 100%

  .introdcution-buttons-list
    display: flex
    align-items: center
    @media (max-width: 48.0625em)
      justify-content: center
      flex-wrap: wrap
